<!doctype html>
<html lang=en">
<head>

  <title>Questions</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  

  <link rel="stylesheet" type="text/css" href="/css/fotos.css">
 

   <script "text/JavaScript" >
      var sdata = '{{{jsondata}}}'; <!-- three brackets prevent handlebars from encoding the json data as html -->
      var data = JSON.parse (sdata);
      //console.log("Chart data is: " + chartdata);

     var charttext = [];
     var chartdata = [];
      var i;
      for (i=0; i<data .length; i++) {
          if (i < 10) {
		        charttext.push ( data[i].name );
          		chartdata.push ( data[i].data);
          }
      }

   </script>

   <script src="/js/mychart.js"></script>



<body>
 
  {{language}}  

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


  {{#each remedies}}
     <ul>
	<li> {{number}} - {{name}} - {{data}} </li>
     </ul>
  {{/each}}




</body>
</html>
