<!doctype html>
<html lang="{{language}}">
<head>

  <title>Questions</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/fotos.css">
 

<style type="text/css">
 .btn.btn-primary-bg{
      background-color: red;
   }

   .btn.btn-primary {
      background-color: yellow;
   }

   .btn.btn-primary.active {
      background-color: green;

   }
  
    .btn.btn-primary.hover {
      background-color: orange;
    }
   .btn.btn-primary.hover {
      background-color: gray;
   }
</style>




<body>

  <header>
      <h1>{{language}}</h1>
  </header>

  <ul class = "languageSelector">
	<li><a href='/de'>Deutsch</a></li>
	<li><a href='/en'>English</a></li>
	<li><a href='/es'>Espanol</a></li>
	<li><a href='/eo'>Esperanto</a></li>
	<li><a href='/fr'>Francais</a></li>
	<li><a href='/it'>Italiano</a></li>
  </ul>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#analyze">Analyze</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#sources">Sources</a></li>
    <li><a href="#admin">Admin</a></li>
  </ul>

    <div id='content' class="tab-content">

     <div class="tab-pane active" id="admin">
      	<h2>Admin Only!</h2>
  		<a href="/admin/questionlist">Past Questions</a>
      </div>


      <div class="tab-pane active" id="home">
      	<h2>{{app.aboutTitle}}</h2>
  		<p>{{app.aboutText}}</p>
  		<h2>{{app.goalTitle}}</h2>
  		<p>{{app.goalText}}</p>
      </div>


      <div class="tab-pane" id="faq">
		<h1>FAQ</h1>
  		<ul>
	  		{{#each faq}}
				<li> <p class="faqquestion">{{q}}</p> <p class="faqanswer">{{a}}</p></li>
  			{{/each}}
		</ul>

      </div>


      <div class="tab-pane" id="sources">
		<h1>{{app.sourceTitle}}</h1>
  		<p>{{app.sourceText}}</p>
  		<ul>
	  		{{#each sources}}
				<li>{{this}}</li>
  			{{/each}}
		</ul>
      </div>

        <div class="tab-pane" id="analyze" >
		
		<form method="post" action="/sendquestions" method="post">

	        <fieldset>
     		   <legend>All Questions (will be grouped later)</legend>

		   <input type="text" name="username" id="username" placeholder="What is your name? (Required)" />


		  {{#each questions}}
   	     {{text}}

         <!--
	   		<div class="answer">
	     			?<input type="radio" name="{{nr}}" value="?" checked />
		     		NO<input type="radio" name="{{nr}}" value="2" />
				    A little<input type="radio" name="{{nr}}" value="4" />
				    A lot<input type="radio" name="{{nr}}" value="6" />
				    YES<input type="radio" name="{{nr}}" value="8" />
			   </div>  -->
        
        <div class="answer">
        <div class="btn-group" data-toggle="buttons"> 
          <label class="btn btn-primary"> 
            <input type="radio" name="{{nr}}" value ="?" checked>? 
         </label> 
         <label class="btn btn-primary"> 
            <input type="radio" name="{{nr}}" value="2">NO
          </label> 
          <label class="btn btn-primary"> 
             <input type="radio" name="{{nr}}" value="4">A LITTLE 
          </label> 
           <label class="btn btn-primary"> 
             <input type="radio" name="{{nr}}" value="6">A LOT 
          </label> 
           <label class="btn btn-primary"> 
             <input type="radio" name="{{nr}}" value="8">YES 
          </label> 
         </div>
         </div> 

			   <br>
	    {{/each}}

	 	  </fieldset>

	        <input type="submit" value="Submit" /> 
	       </form>

        </div>
    </div>   
 


   <script  type="text/javascript" charset="utf-8">
	$('#myTab a').click(function (e) {
		console.log("tab clicked..");
		e.preventDefault()
  		$(this).tab('show')
	})
  </script>





</body>
</html>
